{%extends 'base.html'%}

{%block content%}

<div class = "titulo_central">

<div class="container-fluid">
    <h3 style="text-align: center;"><span style="color: #000080;"><b><strong>O MOBILIZ.ART.BR</strong></b><span style="font-weight: 400;"> É uma plataforma web direcionada <br> para
    artistas, bandas, grupos culturais, empresários e gestores de eventos. </span></span></h3>
<br>
    <h3 style="text-align: center;"><span style="font-weight: 400; color: #000080;"><strong>O MOBILIZ.ART.BR tem dois propósitos:</strong></span></h3><br>
<h4 style="text-align: center;"><span style="font-weight: 400; color: #000080;">Aproximar produtores de eventos e empresários com a classe artística, <br>com o objetivo
    de facilitar a ponte das negociações para contratos de shows, </br> eventos e editais diretamente com os artistas.
    <br><br>
    MOBLIZ.ART.BR também é um grande portfólio de bandas e artistas, <br> interconectando a própria categoria da
    cadeia produtiva da cultura e, por sua vez, estes com <br> empresários e gestores de eventos no país todo. </span></h4>
<br><br><br>
</div>
</div>
{%endblock%}